<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Сервис задач</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Меню</h4>
                <ul class="list-unstyled">
                   <li><a href="{% url 'tasktracker:index' %}" class="text-white">Главная</a></li>
                    {% if user.is_authenticated %}
                     <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link bg-danger ms-2">Выход</button>
                        <li><a href="{% url 'users:profile' %}" class="text-white">Редактировать профиль</a></li>
                     </form>
                    {% else %}
                    <li><a href="{% url 'users:login' %}" class="text-white">Вход</a></li>
                    <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
                    <li><a href="{% url 'users:reset_password' %}" class="text-white">Восстановление пароля</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>